body{
    box-sizing: border-box;
  
}
.italico{
    font-family: 'Oxygen', sem serifa;
font-family: 'Roboto', sem serifa;
font-family: 'Roboto Serif', serif;
}

.Listaminha li{
    list-style: none;
    border: 1px solid rgb(107, 96, 96);
    border-radius: 20px;
}

ul:hover li:hover{
    list-style: none;
    border: 1px solid rgb(107, 96, 96);
    border-radius: 20px;
    background-color: #ccc;
    border: rgb(120, 29, 29);
}

footer{
    border-top: 1px solid black;
    position: relative;
    margin: 70% 20px 0 20px;
}
.content-footer{
    display: flex;
    justify-content: center;
}

@media screen and (max-width:990px){
    .div-listaminha{
        display: none;
    }
}
@media screen and (min-width:990px){
    .minha{
        display: none;
        transition-duration: 3s;
    }
}